# Production Environment Variables
# Generated: 2026-05-08 13:22:01
# WARNING: Copy this file to .env.production and replace with real values

JWT_SECRET=aPi8-BJd7tVh-IBDRdfllXvkC2t_apWlgh0sPpBSsHbgqNNXZx6RAKOxuXuMTCjq
DB_PASSWORD=&82yQ^Np8@N1bZlEjzvDxkMayXufvaCe
DB_ROOT_PASSWORD=LUtZoXsFDWBqiRr#XD&KoX36Woit#5%LpTCxV2ZFfkzAK#@t
REDIS_PASSWORD=XL7oOQPQA9lm#blhFaOv%uQc
WEATHER_API_KEY=uav_B5IfjeLjTEDrk-05MIw-hjwdVj7X3ZpHyNXHI6u_tN8
